<!DOCTYPE html>
<html lang="{{ lang }}">
{% include "header.html" %}
<body>
    {% include "navbar.html" %}
    {% for student in student_data %}
    <form method="post" class="form container my-2" id="form">
        <input type="hidden" name="id" id="id" value="{{ student.id }}">
        <h1 class="text-center">Editar Estudante</h1>
        <div class="row my-3">
            <div class="col text-center">
                {# Warnings #}
                <div class="col-12">
                    <div id="alert" class="alert alert-warning" role="alert">
                        <h4 id="title" class="alert-heading">Warning!</h4>
                        <div class="col-10 w-100">
                            <span id="msg">
                                All fields marked with <span class="text-danger">*</span> are required.
                            </span>
                        </div>
                    </div>
                </div>
                {# Form #}
                <div class="input-group mb-2">
                    <div class="form-floating">
                        {# Name #}
                        <input type="text" class="form-control" name="name" id="name" placeholder="Enter your name"
                            value="{{ student.name }}" required>
                        <label for="name">
                            Name<span class="text-danger">*</span></label>
                    </div>
                    <div class="form-floating">
                        {# Surname #}
                        <input type="text" class="form-control" name="last_name" id="last_name"
                            placeholder="Enter your last name" value="{{ student.last_name }}" required>
                        <label for="surname">
                            Last name<span class="text-danger">*</span></label>
                    </div>
                </div>
                <div class="input-group mb-2">
                    <div class="form-floating">
                        {# Birth Date #}
                        <input type="date" class="form-control" id="birth-date" name="birth_date"
                            placeholder="Enter your birth date" value="{{ student.birth_date }}" required>
                        <label for="birth-date">
                            Birth Date
                            <span class="text-danger">*</span>
                        </label>
                    </div>
                    <div class="form-floating">
                        {# Phone Number #}
                        <input type="text" class="form-control" id="tel" name="phone"
                            placeholder="Enter your telephone number" value="{{ student.phone }}">
                        <label for="phone">
                            Telephone
                        </label>
                    </div>
                </div>
                <div class="input-group mb-2">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="cpf" name="cpf" placeholder="Enter your CPF"
                            value="{{ student.cpf }}" required>
                        <label for="cpf">
                            CPF<span class="text-danger">*</span>
                        </label>
                    </div>
                </div>
                <div class="input-group d-flex justify-content-center">
                    <a type="button" class="btn btn-secondary" href="{{ students }}">Go back</a>
                    <button type="button" class="btn btn-primary" id="btn-update">Save</button>
                </div>
            </div>
        </div>
    </form>
    {% endfor %}
    {% include "footer.html" %}
    <script src="{{ students_script }}"></script>
</body>
</html>