<!DOCTYPE html>
<html lang="{{ lang }}">
{% include "header.html" %}
<body>
    {% include "navbar.html" %}
    <div class="container">
        <h1 class="text-center">Cadastro</h1>
        <div class="row text-center">
            <a class="col-12 col-md-6" href="{{ student_registration }}">
                <img class="img-fluid" src="{{ student_img }}" alt="student">
                <button class="btn btn-primary">Cadastrar Estudante</button>
            </a>
            <a class="col-12 col-md-6" href="{{ course_registration }}">
                <img class="img-fluid" src="{{ course_img }}" alt="course">
                <button class="btn btn-primary">Cadastrar Curso</button>
            </a>
        </div>
    </div>
    {% include "footer.html" %}
</body>
</html>