<!DOCTYPE html>
<html lang="{{ lang }}">
{% include "header.html" %}
<body>
    {% include "navbar.html" %}
    <form class="container" method="post" id="formID">
        <input type="hidden" name="id" id="id">
        <h1 class="text-center my-3">Lista de Estudantes</h1>
        <table id="table" class="display table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Sobrenome</th>
                    <th>Data de Nascimento</th>
                    <th>CPF</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students_list %}
                <tr>
                    <td>{{ student.name }}</td>
                    <td>{{ student.last_name }}</td>
                    <td>{{ student.birth_date }}</td>
                    <td>{{ student.cpf }}</td>
                    <td>
                        {# Edit #}
                        <a class="btn btn-sm btn-warning" href="{{ student_id_for_editing ~ student.id }}">Editar</a>
                        {# Delete #}
                        <button type="button" class="btn btn-sm btn-danger" id="{{ student.id }}"
                            onclick="remove(this.id, '{{ delete_student_url }}')">Deletar</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
    {% include "footer.html" %}
</body>
</html>