<!DOCTYPE html>
<html lang="{{ lang }}">
{% include "header.html" %}
<body>
    {% include "navbar.html" %}
    <form method="post" class="form container my-2" id="form">
        <h1 class="text-center">Cadastrar Estudante</h1>
        <div class="row my-3">
            <div class="col text-center">
                {# Warnings #}
                <div class="col-12">
                    <div id="alert" class="alert alert-warning" role="alert">
                        <h4 id="title" class="alert-heading">Warning!</h4>
                        <div class="col-10 w-100">
                            <span id="msg">
                                Todos os campos com <span class="text-danger">*</span> são obrigatórios para o cadastro.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            {# Form #}
            <div class="input-group mb-2">
                <div class="form-floating">
                    {# Name #}
                    <input type="text" class="form-control" name="name" id="name" placeholder="Enter your name" required>
                    <label for="name">
                        Nome<span class="text-danger">*</span></label>
                </div>
                <div class="form-floating">
                    {# Surname #}
                    <input type="text" class="form-control" name="last_name" id="last_name"
                        placeholder="Enter your last name" required>
                    <label for="surname">
                        Sobrenome<span class="text-danger">*</span></label>
                </div>
            </div>
            <div class="input-group mb-2">
                <div class="form-floating">
                    {# Birth Date #}
                    <input type="date" class="form-control" id="birth-date" name="birth_date"
                        placeholder="Enter your birth date" required>
                    <label for="birth-date">
                        Data de Nascimento
                        <span class="text-danger">*</span>
                    </label>
                </div>
                <div class="form-floating">
                    {# Phone Number #}
                    <input type="text" class="form-control" id="tel" name="phone"
                        placeholder="Enter your telephone number">
                    <label for="phone">
                        Telefone
                    </label>
                </div>
            </div>
            <div class="input-group mb-2">
                <div class="form-floating">
                    <input type="text" class="form-control" id="cpf" name="cpf" placeholder="Enter your CPF" required>
                    <label for="cpf">
                        CPF<span class="text-danger">*</span>
                    </label>
                </div>
            </div>
            <div class="input-group d-flex justify-content-center" id="buttons">
                <a type="button" class="btn btn-secondary" href="{{ registration }}">Voltar</a>
                <button type="button" class="btn btn-primary" id="btn-save">Cadastrar</button>
            </div>
        </div>
        </div>
    </form>
    {# Students.js #}
    <script src="{{ students_script }}"></script>
    {% include "footer.html" %}
</body>
</html>